<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Don't loop on index.php at root
  RewriteRule ^index\.php$ - [L]

  # Internally rewrite everything to /public/<request> if it's not already there
  RewriteCond %{REQUEST_URI} !^/public/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ public/$1 [L]
  
  <FilesMatch "^\.env">
    Require all denied
  </FilesMatch>
</IfModule>

